{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div class="preloader-container">
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="ball"></div>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->

		<!-- Start Header Area -->
		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#264f4840496644435e4f0845494b"><span class="__cf_email__" data-cfemail="61080f070e21030419084f020e0c">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="my-account.html">Login</a>
							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">China</option>
									<option value="2">العربيّة</option>
									<option value="3">Germany</option>
									<option value="4">Portugues</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
						</a> 
						
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="index.html" class="nav-link border-style">Home</a>
								</li>
								<li class="nav-item">
									<a href="about-us.html" class="nav-link border-style">About Us</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Patient Care             
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="department.html" class="nav-link">Department Care</a>
										</li>
										<li class="nav-item">
											<a href="department-orthopedics.html" class="nav-link">Department Orthopedics</a>
										</li>
										<li class="nav-item">
											<a href="find-a-doctor.html" class="nav-link">Find A Doctor</a>
										</li>
										<li class="nav-item">
											<a href="doctor-details.html" class="nav-link">Doctor Details</a>
										</li>
										<li class="nav-item">
											<a href="testimonials.html" class="nav-link">Testimonials</a>
										</li>
										<li class="nav-item">
											<a href="payment.html" class="nav-link">Payment</a>
										</li>
										<li class="nav-item">
											<a href="appointment.html" class="nav-link">Appointment</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style active">
										Pages            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Hospital          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="hospital.html" class="nav-link">Hospital</a>
												</li>
												<li class="nav-item">
													<a href="hospital-details.html" class="nav-link">Hospital Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Health          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="health-information.html" class="nav-link">Health Information</a>
												</li>
												<li class="nav-item">
													<a href="consult-online.html" class="nav-link active">Consult Online</a>
												</li>
												<li class="nav-item">
													<a href="patient-visitors.html" class="nav-link">Patient & Visitors</a>
												</li>
												<li class="nav-item">
													<a href="patient-information.html" class="nav-link">Patient Information</a>
												</li>
												<li class="nav-item">
													<a href="visitor-information.html" class="nav-link">Visitor Information</a>
												</li>
											</ul>
										</li>
										
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Shop          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="products.html" class="nav-link">Products</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="my-account.html" class="nav-link">My Account</a>
										</li>
										<li class="nav-item">
											<a href="need-help.html" class="nav-link">Need Help</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">Error Page</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Blog            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog.html" class="nav-link">Blog</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link">Blog Details</a>
										</li>
									</ul>
								</li>
								
								<li class="nav-item">
									<a href="contact-us.html" class="nav-link border-style">Contact Us</a>
								</li>
							</ul>

							<div class="others-options">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/cart.svg" alt="Image">
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/search.svg" class="search-btn" alt="Image">
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<i class="ri-clipboard-line"></i>
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>


			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<i class="ri-shopping-cart-line"></i>
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<i class="search-btn ri-search-line"></i>
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-12 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2>Consult Online</h2>
					<ul>
						<li>
							<a href="index.html">
								<i class="ri-home-8-line"></i>
								Home 
							</a>
						</li>
						<li>
							<span>Consult online</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- Start Consult Online Area -->
		<div class="consult-online-area pt-100 pb-70">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="choose-consultation-content">
							<h2>Why Choose Online Consultation?</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
							<p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.</p>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="choose-consultation-img">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/consultation-img.jpg" alt="Image">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-consult-online">
							<h2>When to ponsult a doctor?</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.</p>
							<p>Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.</p>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-consult-online">
							<h2>How to consult a doctor?</h2>
							<p>Consult a doctor online with 24|7</p>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.</p>
							<ul>
								<li>
									Choose the doctor
								</li>
								<li>
									Book your appointment
								</li>
								<li>
									Make the payment
								</li>
								<li>
									Book your appointment
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Consult Online Area -->

		<!-- Start Hospital Area -->
		<div class="hospital-area pb-70">
			<div class="container">
				<form class="hospital-src">
					<h2>Online Doctor Consultation</h2>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search doctor">
						<i class="ri-search-line"></i>
					</div>
				</form>
				<div class="section-title left-title">
					<h2>Popular cities</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="single-hospital">
							<a href="hospital-details.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/hospital/hospital-1.jpg" alt="Image">
							</a>
							<div class="hospital-content">
								<h3>
									<a href="hospital-details.html">
										Hospitals in Atlanta
									</a>
								</h3>
								<ul>
									<li>
										<span>Address:</span>
										1224 Woodmont LN. MK #2255,  Atlanta, GA, 20304
									</li>
									<li>
										<span>Phone:</span>
										<a href="tel:-(616)-999-95544">(616) 999-95544</a>
									</li>
								</ul>
	
								<a href="appointment.html" class="default-btn active">
									Book an appointment
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-hospital">
							<a href="hospital-details.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/hospital/hospital-2.jpg" alt="Image">
							</a>
							<div class="hospital-content">
								<h3>
									<a href="hospital-details.html">
										Hospitals in atlanta
									</a>
								</h3>
								<ul>
									<li>
										<span>Address:</span>
										1224 Woodmont LN. MK #2255,  Atlanta, GA, 20304
									</li>
									<li>
										<span>Phone:</span>
										<a href="tel:-(616)-999-95544">(616) 999-95544</a>
									</li>
								</ul>
	
								<a href="appointment.html" class="default-btn active">
									Book an appointment
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-hospital">
							<a href="hospital-details.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/hospital/hospital-3.jpg" alt="Image">
							</a>
							<div class="hospital-content">
								<h3>
									<a href="hospital-details.html">
										Hospitals in austin
									</a>
								</h3>
								<ul>
									<li>
										<span>Address:</span>
										7722 N Mopac Expy Ste 3004, Austin, TX, 78878
									</li>
									<li>
										<span>Phone:</span>
										<a href="tel:-(616)-999-95544">(616) 999-95545</a>
									</li>
								</ul>
	
								<a href="appointment.html" class="default-btn active">
									Book an appointment
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hospital Area -->

		<!-- Start Our Team Area -->
		<div class="our-team-area pb-70">
			<div class="container">
				<div class="section-title left-title">
					<h2>Top specialties</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-1.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Glenn Arredondo</a>
							</h3>
							<span>Family Physicians</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-2.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Dorthy Winters</a>
							</h3>
							<span>Family Physicians</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-3.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Christopher Perreault</a>
							</h3>
							<span>Gastroenterologists</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-4.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Linda Flores</a>
							</h3>
							<span>Gynecologists</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Our Team Area -->

		<!-- Start Our Team Area -->
		<div class="our-team-area pb-100">
			<div class="container">
				<div class="section-title left-title">
					<h2>Other specialties</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-5.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">James Sexton</a>
							</h3>
							<span>General Practitioner</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-6.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Margaret Hernandez</a>
							</h3>
							<span>Dermatology</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-7.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Jesse Gage</a>
							</h3>
							<span>Plastic Surgery</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-8.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Cara Farrington</a>
							</h3>
							<span>Family Medicine</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-9.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Harold Freeman</a>
							</h3>
							<span>Hepatology & Nutrition</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-10.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Barbara Puckett</a>
							</h3>
							<span>Internal Medicine</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-11.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Harris Jackson</a>
							</h3>
							<span>Subspecialty Care</span>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/team/team-12.jpg" alt="Image">
							<h3>
								<a href="find-a-doctor.html">Gudrun Phillips</a>
							</h3>
							<span>Radiologist</span>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="pagination-area">
							<a href="consult-online.html" class="next page-numbers">
								<i class="ri-arrow-left-line"></i>
							</a>
							<span class="page-numbers current" aria-current="page">1</span>
							<a href="consult-online.html" class="page-numbers">2</a>
							<a href="consult-online.html" class="page-numbers">3</a>
							
							<a href="consult-online.html" class="next page-numbers">
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Our Team Area -->

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->

		<!-- Start Footer Area -->
		<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<a href="index.html" class="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
							<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie.</p>
							<h4>177 Devon Lane Miami, MK 3355</h4>
							<ul class="info">
								<li>
									<span>EMAIL US:</span>
									<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#6d04030b022d0f081504430e0200"><span class="__cf_email__" data-cfemail="7c15121a133c1e190415521f1311">[email&#160;protected]</span></a>
								</li>
								<li>
									<span>CALL US:</span>
									<a href="tel:1-885-665-2022">1-885-665-2022</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Departments</h3>

							<ul class="import-link">
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Emergency Departments
									</a>
								</li>
								<li>
									<a href="department-orthopedics.html">
										<i class="ri-arrow-right-s-line"></i>
										Orthopedics
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Neurosciences
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Gastroenterology
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Bariatric Surgery
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Helpful Links</h3>

							<ul class="import-link">
								<li>
									<a href="find-a-doctor.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Doctor
									</a>
								</li>
								<li>
									<a href="hospital.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Hospital
									</a>
								</li>
								<li>
									<a href="products.html">
										<i class="ri-arrow-right-s-line"></i>
										Buy Medicine
									</a>
								</li>
								<li>
									<a href="terms-conditions.html">
										<i class="ri-arrow-right-s-line"></i>
										Terms of Use
									</a>
								</li>
								<li>
									<a href="privacy-policy.html">
										<i class="ri-arrow-right-s-line"></i>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Subscribe Our Newsletter</h3>

							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">
		
								<button class="default-btn" type="submit">
									Submit now
								</button>
		
								<div id="validator-newsletter" class="form-result"></div>
							</form>

							<ul class="socila-link">
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/facebook.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/twitter.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/linkedin.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/instagram.svg" alt="Image">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© Bexi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script data-cfasync="false" src="../../../doc123/templates.envytheme.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/jquery.min.js"></script>
        <script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/bootstrap.bundle.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/meanmenu.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/owl.carousel.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/swiper-bundle.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/appear.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/odometer.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/wow.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/jspdf.debug.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/form-validator.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/contact-form-script.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/ajaxchimp.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/custom.js"></script>
    </body>

{% endblock %}