{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>


		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#51383f373e11333429387f323e3c"><span class="__cf_email__" data-cfemail="d2bbbcb4bd92b0b7aabbfcb1bdbf">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="{{path('login')}}">Login</a>

							</li>	<li>
								<i class="ri-login-box-line"></i>
								<a href="{{path('register')}}">Signup</a>

							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">Francçais</option>
									<option value="2">العربيّة</option>

								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Navbar Area -->


			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="{{path('home')}}">
							<img src="{{ asset('frontOffice/assets/images/DocNet.png') }}" style="max-width: 40%" class="main-logo" alt="logo">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="index.html" class="nav-link border-style active">Home</a>
								</li>
								<li class="nav-item">
									<a href="about-us.html" class="nav-link border-style">About Us</a>
								</li>


								<li class="nav-item">
									<a href="contact-us.html" class="nav-link border-style">Contact Us</a>
								</li>
							</ul>

						</div>
					</nav>
				</div>
			</div>

			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Hero Area -->
		<div class="hero-area">
			<div class="swiper hero-slide">
				<div class="swiper-wrapper">
					<div class="swiper-slide bg-1">
						<div class="container">
							<div class="hero-content">
								<h1>Our strength is your well-being</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End Hero Area -->

		<!-- Start Who We Are Area -->
		<div class="who-we-are-area pb-70">
			<div class="container">
					<div>
						<div class="ml-44">
							<div class="who-we-are-content">
								<span class="top-title">WHO WE ARE</span>
								<h2>We have been providing services to patients for over 20 years</h2>
								<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
							</div>
	
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="single-who-we-are">
										<i class="flaticon-hands"></i>
										<h3>1K+ Healing Hands</h3>
										<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus.</p>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6">
									<div class="single-who-we-are">
										<i class="flaticon-doctor"></i>
										<h3>Experience Doctors</h3>
										<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus.</p>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6">
									<div class="single-who-we-are">
										<i class="flaticon-handshake"></i>
										<h3>Advanced Healthcare</h3>
										<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus.</p>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6">
									<div class="single-who-we-are">
										<i class="flaticon-pharmacy"></i>
										<h3>50+ Pharmacies</h3>
										<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Who We Are Area -->
		<!-- Start Choose Us Area -->
		<div class="choose-us-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div>
						<div class="choose-us-content">
							<span class="top-title">WHY CHOOSE US</span>
							<h2>Our hospital has professional doctors who provide low cost 24 hour service</h2>
							<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>

							<ul>
								<li>
									<span>1</span>
									<h3>Modern Technology</h3>
									Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
								</li>
								<li class="active">
									<span>2</span>
									<h3>Professional Doctors</h3>
									Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
								</li>
								<li>
									<span>3</span>
									<h3>Affordable Price</h3>
									Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
								</li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- End Choose Us Area -->

		<!-- Start Knock us Area -->
		<div class="knock-us-area bg-color-0057b8 ptb-100">
			<div class="container">
		</div>
		<!-- End Knock us Area -->

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->
		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->
		<!-- Start Footer Area -->
		<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
			<div class="container">
				<div class="row">
                	<div>
						<div class="single-footer-widget">
							<h3>Subscribe Our Newsletter</h3>

							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">

								<button class="default-btn" type="submit">
									Submit now
								</button>

								<div id="validator-newsletter" class="form-result"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->
		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© Bexi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->
    </body>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/63e6844b474251287912a483/1gou79i31';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
{% endblock %}