{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div class="preloader-container">
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="ball"></div>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->

		<!-- Start Header Area -->
		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#1e777078715e7c7b6677307d7173"><span class="__cf_email__" data-cfemail="85ecebe3eac5e7e0fdecabe6eae8">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="my-account.html">Login</a>
							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">China</option>
									<option value="2">العربيّة</option>
									<option value="3">Germany</option>
									<option value="4">Portugues</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
						</a> 
						
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="index.html" class="nav-link border-style">Home</a>
								</li>
								<li class="nav-item">
									<a href="about-us.html" class="nav-link border-style">About Us</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Patient Care             
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="department.html" class="nav-link">Department Care</a>
										</li>
										<li class="nav-item">
											<a href="department-orthopedics.html" class="nav-link">Department Orthopedics</a>
										</li>
										<li class="nav-item">
											<a href="find-a-doctor.html" class="nav-link">Find A Doctor</a>
										</li>
										<li class="nav-item">
											<a href="doctor-details.html" class="nav-link">Doctor Details</a>
										</li>
										<li class="nav-item">
											<a href="testimonials.html" class="nav-link">Testimonials</a>
										</li>
										<li class="nav-item">
											<a href="payment.html" class="nav-link">Payment</a>
										</li>
										<li class="nav-item">
											<a href="appointment.html" class="nav-link">Appointment</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style active">
										Pages            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Hospital          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="hospital.html" class="nav-link">Hospital</a>
												</li>
												<li class="nav-item">
													<a href="hospital-details.html" class="nav-link">Hospital Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Health          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="health-information.html" class="nav-link">Health Information</a>
												</li>
												<li class="nav-item">
													<a href="consult-online.html" class="nav-link">Consult Online</a>
												</li>
												<li class="nav-item">
													<a href="patient-visitors.html" class="nav-link">Patient & Visitors</a>
												</li>
												<li class="nav-item">
													<a href="patient-information.html" class="nav-link">Patient Information</a>
												</li>
												<li class="nav-item">
													<a href="visitor-information.html" class="nav-link">Visitor Information</a>
												</li>
											</ul>
										</li>
										
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Shop          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="products.html" class="nav-link">Products</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link active">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="my-account.html" class="nav-link">My Account</a>
										</li>
										<li class="nav-item">
											<a href="need-help.html" class="nav-link">Need Help</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">Error Page</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Blog            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog.html" class="nav-link">Blog</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link">Blog Details</a>
										</li>
									</ul>
								</li>
								
								<li class="nav-item">
									<a href="contact-us.html" class="nav-link border-style">Contact Us</a>
								</li>
							</ul>

							<div class="others-options">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/cart.svg" alt="Image">
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/search.svg" class="search-btn" alt="Image">
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<i class="ri-clipboard-line"></i>
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>


			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<i class="ri-shopping-cart-line"></i>
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<i class="search-btn ri-search-line"></i>
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-17 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2>Products Details</h2>
					<ul>
						<li>
							<a href="index.html">
								<i class="ri-home-8-line"></i>
								Home 
							</a>
						</li>
						<li>
							<span>Products Details</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- Start Product Details Area -->
		<section class="product-details-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="product-details-image pr-15">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-2.jpg" alt="Image">
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<div class="product-details-desc pl-15">
							<h3>Violet glass gel</h3>

							<div class="price">
								<span class="new-price"> <del>$99.00</del> $55.00</span>
							</div>

							<div class="product-review">
								<div class="rating">
									<i class="ri-star-fill"></i>
									<i class="ri-star-fill"></i>
									<i class="ri-star-fill"></i>
									<i class="ri-star-fill"></i>
									<i class="ri-star-fill"></i>
								</div>
								<a href="product-details.html" class="rating-count">(2 Customer reviews)</a>
							</div>

							<ul class="sku">
								<li>
									Category:
									<span>Surgery</span>
								</li>
								<li>
									Tags:
									<span>Droper, Gel, Ear</span>
								</li>
							</ul>

							<p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>

							<div class="product-add-to-cart d-flex align-items-center">
								<div class="input-counter">
									<span class="minus-btn">
										<i class="ri-subtract-line"></i>
									</span>

									<input type="text" value="1">

									<span class="plus-btn">
										<i class="ri-add-line"></i>
									</span>
								</div>
								<button type="submit" class="default-btn">
									Add to cart
								</button>
							</div>

							<ul class="socila-link">
								<li>
									<span>Share:</span>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/facebook.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.twitter.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/twitter.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/linkedin.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/instagram.svg" alt="Image">
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-12 col-md-12">
						<div class="tab product-details-tab">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="additional-tab" data-bs-toggle="tab" data-bs-target="#additional" type="button" role="tab" aria-controls="additional" aria-selected="false">Additional Information</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
									<div class="product-details-description-content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero blanditiis quo fugiat magni accusamus exercitationem! Voluptate, deleniti quae. Libero iusto minus, nulla excepturi quidem reprehenderit blanditiis eligendi exercitationem nesciunt ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi temporibus deserunt mollitia natus esse, sunt fuga quos. Autem quasi error quisquam architecto fuga suscipit atque voluptatibus nobis impedit nulla. Officia ercitationem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia quaerat maxime laudantium obcaecati qui? Magni officiis fugit, dolorem mollitia eius similique accusantium nostrum possimus consectetur laudantium distinctio aliquid delectus assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum deleniti, quaerat rerum corporis quis iste veritatis</p>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat tempora aliquid exercitationem. Vel, dicta quos. Velit magnam, eius unde ullam, distinctio atque aperiam obcaecati ipsam id, inventore consectetur laudantium repellat tempora aliquid exercitationem. Vel, dicta quos. Velit magnam, eius unde ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit quasi fugit error deleniti libero, porro illo numquam accusamus sunt id sapiente! temporibus deserunt mollitia</p>
									</div>
								</div>
								<div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
									<div class="product-details-additional-content">
										<ul>
											<li>
												Brand:
												<span>ThemeForest</span>
											</li>
											<li>
												Color:
												<span>Brown</span>
											</li>
											<li>
												Size:
												<span>Large, Medium</span>
											</li>
											<li>
												Weight:
												<span>27 kg</span>
											</li>
											<li>
												Dimensions:
												<span>16 x 22 x 123 cm</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
									<div class="product-details-review-content">
										<div class="product-review-form">
											<h3>Customer reviews</h3>

											<div class="review-title">
												<div class="rating">
													<i class="ri-star-fill"></i>
													<i class="ri-star-fill"></i>
													<i class="ri-star-fill"></i>
													<i class="ri-star-fill"></i>
													<i class="ri-star-fill"></i>
												</div>
												<p>Based on 2 reviews</p>
											</div>

											<div class="review-comments">
												<div class="review-item">
													<div class="rating">
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
													</div>

													<h3>Good</h3>
													<span><strong>Admin</strong> on <strong>July 21, 2022</strong></span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

													<a href="product-details.html" class="review-report-link">Reply</a>
												</div>

												<div class="review-item">
													<div class="rating">
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
														<i class="ri-star-fill"></i>
													</div>
													
													<h3>Good</h3>
													<span><strong>Admin</strong> on <strong>July 21, 2022</strong></span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

													<a href="product-details.html" class="review-report-link">Reply</a>
												</div>
											</div>

											<div class="review-form">
												<h3>Write a review</h3>

												<form>
													<div class="row">
														<div class="col-lg-6 col-md-6">
															<div class="form-group">
																<label>NAME</label>
																<input type="text" id="name" name="name" class="form-control">
															</div>
														</div>

														<div class="col-lg-6 col-md-6">
															<div class="form-group">
																<label>EMAIL</label>
																<input type="email" id="email" name="email" class="form-control">
															</div>
														</div>

														<div class="col-lg-12 col-md-12">
															<div class="form-group">
																<label>REVIEW TITLE</label>
																<input type="text" id="review-title" name="review-title" class="form-control">
															</div>
														</div>

														<div class="col-lg-12 col-md-12">
															<div class="form-group">
																<label>BODY OF REVIEW (1500)</label>
																<textarea name="review-body" id="review-body" cols="30" rows="8" class="form-control"></textarea>
															</div>
														</div>

														<div class="col-lg-12 col-md-12">
															<button type="submit" class="btn default-btn">
																Submit review
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Product Details Area -->

		<!-- End Products Area -->
		<div class="products-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Related products</h2>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-2.jpg" alt="Image">
								<div class="add-cart">
									<a href="product-details.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Violet glass gel</a>
								</h3>

								<span><del>$99.00</del> - $55.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-3.jpg" alt="Image">
								<div class="add-cart">
									<a href="product-details.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Long rectangel</a>
								</h3>

								<span><del>$99.00</del> - $75.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-4.jpg" alt="Image">
								<div class="add-cart">
									<a href="product-details.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Medical vial</a>
								</h3>

								<span><del>$55.00</del> - $45.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-5.jpg" alt="Image">
								<div class="add-cart">
									<a href="product-details.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Angel ear droper</a>
								</h3>

								<span><del>$65.00</del> - $60.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Start Products Area -->

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->

		<!-- Start Footer Area -->
		<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<a href="index.html" class="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
							<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie.</p>
							<h4>177 Devon Lane Miami, MK 3355</h4>
							<ul class="info">
								<li>
									<span>EMAIL US:</span>
									<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#6f060109002f0d0a1706410c0002"><span class="__cf_email__" data-cfemail="660f0800092604031e0f4805090b">[email&#160;protected]</span></a>
								</li>
								<li>
									<span>CALL US:</span>
									<a href="tel:1-885-665-2022">1-885-665-2022</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Departments</h3>

							<ul class="import-link">
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Emergency Departments
									</a>
								</li>
								<li>
									<a href="department-orthopedics.html">
										<i class="ri-arrow-right-s-line"></i>
										Orthopedics
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Neurosciences
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Gastroenterology
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Bariatric Surgery
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Helpful Links</h3>

							<ul class="import-link">
								<li>
									<a href="find-a-doctor.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Doctor
									</a>
								</li>
								<li>
									<a href="hospital.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Hospital
									</a>
								</li>
								<li>
									<a href="products.html">
										<i class="ri-arrow-right-s-line"></i>
										Buy Medicine
									</a>
								</li>
								<li>
									<a href="terms-conditions.html">
										<i class="ri-arrow-right-s-line"></i>
										Terms of Use
									</a>
								</li>
								<li>
									<a href="privacy-policy.html">
										<i class="ri-arrow-right-s-line"></i>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Subscribe Our Newsletter</h3>

							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">
		
								<button class="default-btn" type="submit">
									Submit now
								</button>
		
								<div id="validator-newsletter" class="form-result"></div>
							</form>

							<ul class="socila-link">
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/facebook.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/twitter.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/linkedin.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/instagram.svg" alt="Image">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© Bexi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

    </body>
{% endblock %}