{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div class="preloader-container">
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="ball"></div>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Header Area -->
		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#325b5c545d7250574a5b1c515d5f"><span class="__cf_email__" data-cfemail="660f0800092604031e0f4805090b">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="my-account.html">Login</a>
							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">China</option>
									<option value="2">العربيّة</option>
									<option value="3">Germany</option>
									<option value="4">Portugues</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
						</a> 
						
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="index.html" class="nav-link border-style">Home</a>
								</li>
								<li class="nav-item">
									<a href="about-us.html" class="nav-link border-style">About Us</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Patient Care             
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="department.html" class="nav-link">Department Care</a>
										</li>
										<li class="nav-item">
											<a href="department-orthopedics.html" class="nav-link">Department Orthopedics</a>
										</li>
										<li class="nav-item">
											<a href="find-a-doctor.html" class="nav-link">Find A Doctor</a>
										</li>
										<li class="nav-item">
											<a href="doctor-details.html" class="nav-link">Doctor Details</a>
										</li>
										<li class="nav-item">
											<a href="testimonials.html" class="nav-link">Testimonials</a>
										</li>
										<li class="nav-item">
											<a href="payment.html" class="nav-link">Payment</a>
										</li>
										<li class="nav-item">
											<a href="appointment.html" class="nav-link">Appointment</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style active">
										Pages            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Hospital          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="hospital.html" class="nav-link">Hospital</a>
												</li>
												<li class="nav-item">
													<a href="hospital-details.html" class="nav-link">Hospital Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Health          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="health-information.html" class="nav-link">Health Information</a>
												</li>
												<li class="nav-item">
													<a href="consult-online.html" class="nav-link">Consult Online</a>
												</li>
												<li class="nav-item">
													<a href="patient-visitors.html" class="nav-link">Patient & Visitors</a>
												</li>
												<li class="nav-item">
													<a href="patient-information.html" class="nav-link">Patient Information</a>
												</li>
												<li class="nav-item">
													<a href="visitor-information.html" class="nav-link">Visitor Information</a>
												</li>
											</ul>
										</li>
										
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Shop          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="products.html" class="nav-link active">Products</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="my-account.html" class="nav-link">My Account</a>
										</li>
										<li class="nav-item">
											<a href="need-help.html" class="nav-link">Need Help</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">Error Page</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Blog            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog.html" class="nav-link">Blog</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link">Blog Details</a>
										</li>
									</ul>
								</li>
								
								<li class="nav-item">
									<a href="contact-us.html" class="nav-link border-style">Contact Us</a>
								</li>
							</ul>

							<div class="others-options">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/cart.svg" alt="Image">
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/search.svg" class="search-btn" alt="Image">
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<i class="ri-clipboard-line"></i>
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>


			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<i class="ri-shopping-cart-line"></i>
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<i class="search-btn ri-search-line"></i>
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-16 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2>Products</h2>
					<ul>
						<li>
							<a href="index.html">
								<i class="ri-home-8-line"></i>
								Home 
							</a>
						</li>
						<li>
							<span>Products</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- End Products Area -->
		<div class="products-area ptb-100">
			<div class="container">
				<div class="srarch-result d-flex justify-content-between align-items-center">
					<p>Showing 1–12 of 30 results</p>
					<select class="form-select form-control" aria-label="Default select example">
						<option selected>Default sorting</option>
						<option value="1">Glass</option>
						<option value="2">Vial</option>
						<option value="3">Droper</option>
					</select>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-2.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Violet glass gel</a>
								</h3>

								<span><del>$99.00</del> - $55.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-3.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Long rectangel</a>
								</h3>

								<span><del>$99.00</del> - $75.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-4.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Medical vial</a>
								</h3>

								<span><del>$55.00</del> - $45.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-5.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Angel ear droper</a>
								</h3>

								<span><del>$65.00</del> - $60.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-6.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Skin care cream</a>
								</h3>

								<span><del>$45.00</del> - $40.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-7.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Hazi multi vitamin</a>
								</h3>

								<span><del>$70.00</del> - $60.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-8.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Ampoule</a>
								</h3>

								<span><del>$35.00</del> - $30.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-9.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Healthy vitamin</a>
								</h3>

								<span><del>$55.00</del> - $40.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-10.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Special bacuum tube</a>
								</h3>

								<span><del>$30.00</del> - $25.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-11.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Deodo lequide</a>
								</h3>

								<span><del>$29.00</del> - $25.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-12.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">MK nose droper</a>
								</h3>

								<span><del>$20.00</del> - $15.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="product-img">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/products/product-3.jpg" alt="Image">
								<div class="add-cart">
									<a href="cart.html" class="default-btn">Add to cart</a>
								</div>
							</div>

							<div class="product-content">
								<ul>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
									<li>
										<i class="ri-star-fill"></i>
									</li>
								</ul>

								<h3>
									<a href="product-details.html">Violet glass droper</a>
								</h3>

								<span><del>$25.00</del> - $20.00</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="pagination-area">
							<a href="products.html" class="next page-numbers">
								<i class="ri-arrow-left-line"></i>
							</a>
							<span class="page-numbers current" aria-current="page">1</span>
							<a href="products.html" class="page-numbers">2</a>
							<a href="products.html" class="page-numbers">3</a>
							
							<a href="products.html" class="next page-numbers">
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Start Products Area -->

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->

		<!-- Start Footer Area -->
		<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<a href="index.html" class="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
							<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie.</p>
							<h4>177 Devon Lane Miami, MK 3355</h4>
							<ul class="info">
								<li>
									<span>EMAIL US:</span>
									<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#c5acaba3aa85a7a0bdaceba6aaa8"><span class="__cf_email__" data-cfemail="e68f888089a684839e8fc885898b">[email&#160;protected]</span></a>
								</li>
								<li>
									<span>CALL US:</span>
									<a href="tel:1-885-665-2022">1-885-665-2022</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Departments</h3>

							<ul class="import-link">
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Emergency Departments
									</a>
								</li>
								<li>
									<a href="department-orthopedics.html">
										<i class="ri-arrow-right-s-line"></i>
										Orthopedics
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Neurosciences
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Gastroenterology
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Bariatric Surgery
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Helpful Links</h3>

							<ul class="import-link">
								<li>
									<a href="find-a-doctor.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Doctor
									</a>
								</li>
								<li>
									<a href="hospital.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Hospital
									</a>
								</li>
								<li>
									<a href="products.html">
										<i class="ri-arrow-right-s-line"></i>
										Buy Medicine
									</a>
								</li>
								<li>
									<a href="terms-conditions.html">
										<i class="ri-arrow-right-s-line"></i>
										Terms of Use
									</a>
								</li>
								<li>
									<a href="privacy-policy.html">
										<i class="ri-arrow-right-s-line"></i>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Subscribe Our Newsletter</h3>

							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">
		
								<button class="default-btn" type="submit">
									Submit now
								</button>
		
								<div id="validator-newsletter" class="form-result"></div>
							</form>

							<ul class="socila-link">
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/facebook.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/twitter.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/linkedin.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/instagram.svg" alt="Image">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© Bexi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script data-cfasync="false" src="../../../doc123/templates.envytheme.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/jquery.min.js"></script>
        <script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/bootstrap.bundle.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/meanmenu.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/owl.carousel.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/swiper-bundle.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/appear.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/odometer.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/wow.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/jspdf.debug.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/form-validator.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/contact-form-script.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/ajaxchimp.min.js"></script>
		<script src="../../../doc123/templates.envytheme.com/bexi/default/assets/js/custom.js"></script>
    </body>

{% endblock %}