{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div class="preloader-container">
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="petal-1"></div>
					<div class="ball"></div>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->

		<!-- Start Header Area -->
		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#3f565159507f5d5a4756115c5052"><span class="__cf_email__" data-cfemail="b5dcdbd3daf5d7d0cddc9bd6dad8">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="my-account.html">Login</a>
							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">China</option>
									<option value="2">العربيّة</option>
									<option value="3">Germany</option>
									<option value="4">Portugues</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
						</a> 
						
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="index.html" class="nav-link border-style">Home</a>
								</li>
								<li class="nav-item">
									<a href="about-us.html" class="nav-link border-style">About Us</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Patient Care             
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="department.html" class="nav-link">Department Care</a>
										</li>
										<li class="nav-item">
											<a href="department-orthopedics.html" class="nav-link">Department Orthopedics</a>
										</li>
										<li class="nav-item">
											<a href="find-a-doctor.html" class="nav-link">Find A Doctor</a>
										</li>
										<li class="nav-item">
											<a href="doctor-details.html" class="nav-link">Doctor Details</a>
										</li>
										<li class="nav-item">
											<a href="testimonials.html" class="nav-link">Testimonials</a>
										</li>
										<li class="nav-item">
											<a href="payment.html" class="nav-link">Payment</a>
										</li>
										<li class="nav-item">
											<a href="appointment.html" class="nav-link">Appointment</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style active">
										Pages            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Hospital          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="hospital.html" class="nav-link">Hospital</a>
												</li>
												<li class="nav-item">
													<a href="hospital-details.html" class="nav-link">Hospital Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Health          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="health-information.html" class="nav-link">Health Information</a>
												</li>
												<li class="nav-item">
													<a href="consult-online.html" class="nav-link">Consult Online</a>
												</li>
												<li class="nav-item">
													<a href="patient-visitors.html" class="nav-link">Patient & Visitors</a>
												</li>
												<li class="nav-item">
													<a href="patient-information.html" class="nav-link">Patient Information</a>
												</li>
												<li class="nav-item">
													<a href="visitor-information.html" class="nav-link active">Visitor Information</a>
												</li>
											</ul>
										</li>
										
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Shop          
											</a>
		
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="products.html" class="nav-link">Products</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="my-account.html" class="nav-link">My Account</a>
										</li>
										<li class="nav-item">
											<a href="need-help.html" class="nav-link">Need Help</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">Error Page</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle border-style">
										Blog            
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog.html" class="nav-link">Blog</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link">Blog Details</a>
										</li>
									</ul>
								</li>
								
								<li class="nav-item">
									<a href="contact-us.html" class="nav-link border-style">Contact Us</a>
								</li>
							</ul>

							<div class="others-options">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/cart.svg" alt="Image">
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/search.svg" class="search-btn" alt="Image">
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<i class="ri-clipboard-line"></i>
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>


			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center">
								<ul class="d-flex align-items-center">
									<li>
										<a href="cart.html" class="cart">
											<i class="ri-shopping-cart-line"></i>
											<span>0</span>
										</a>
									</li>
									<li>
										<div class="option-item">
											<i class="search-btn ri-search-line"></i>
											<i class="close-btn ri-close-line"></i>
											
											<div class="search-overlay search-popup">
												<div class='search-box'>
													<form class="search-form">
														<input class="search-input" name="search" placeholder="Search" type="text">
		
														<button class="search-button" type="submit">
															<i class="ri-search-line"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li>
										<a href="appointment.html" class="default-btn">
											<span>Appointment</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-15 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2>Visitor Information</h2>
					<ul>
						<li>
							<a href="index.html">
								<i class="ri-home-8-line"></i>
								Home 
							</a>
						</li>
						<li>
							<span>Visitor information</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- Start Visitor Information Area -->
		<div class="patient-information-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="patient-information-content">
							<h2>Visitor Information</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
							<p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.</p>
							<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/patient-visitation-img.jpg" alt="Image">
	
							<div class="gap-mb-30"></div>

							<h2>Patient visitation guidelines</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. </p>

							<div class="gap-mb-30"></div>

							<h2>General inpatient visitation</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. </p>
							<p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.</p>

							<div class="gap-mb-30"></div>

							<h2>Exceptions and additional restrictions</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. </p>
	
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="single-patient-information">
										<h3>Visiting specific patients</h3>
										<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
									</div>
								</div>
	
								<div class="col-lg-6 col-md-6">
									<div class="single-patient-information">
										<h3>Police & Security</h3>
										<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
									</div>
								</div>
							</div>
	
							<h2>Visiting hours</h2>
							<p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
	
							<div class="gap-mb-30"></div>

							<h2>Parking & Shuttle service</h2>
							<p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
	
							<div class="gap-mb-30"></div>
	
							<h2>Accommodation Guide</h2>
							<p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. </p>
	
							<p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ml-15">
							<div class="visitors-sludebar">
								<a href="index.html">
									<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" alt="Image">
								</a>
								<h4>Contact</h4>
	
								<ul>
									<li>
										<span>ADDRESS:</span>
										1224 Woodmont LN. MK #2255,  Atlanta, GA, 20304
									</li>
									<li>
										<span>EMAIL US:</span>
										<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#8ce5e2eae3cceee9f4e5a2efe3e1"><span class="__cf_email__" data-cfemail="7e171018113e1c1b0617501d1113">[email&#160;protected]</span></a>
									</li>
									<li>
										<span>CALL US:</span>
										<a href="tel:1-885-665-2022">1-885-665-2022</a>
									</li>
								</ul>
							</div>
	
							<div class="visitors-location">
								<h3>Our Locations</h3>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36553983.44087083!2d-96!3d56!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sbd!4v1654141522474!5m2!1sen!2sbd"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Visitor Information Area -->

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->

		<!-- Start Footer Area -->
		<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<a href="index.html" class="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/logo.png" class="main-logo" alt="logo">
								<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/white-logo.png" class="white-logo" alt="logo">
							</a>
							<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie.</p>
							<h4>177 Devon Lane Miami, MK 3355</h4>
							<ul class="info">
								<li>
									<span>EMAIL US:</span>
									<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#127b7c747d5270776a7b3c717d7f"><span class="__cf_email__" data-cfemail="7811161e17381a1d0011561b1715">[email&#160;protected]</span></a>
								</li>
								<li>
									<span>CALL US:</span>
									<a href="tel:1-885-665-2022">1-885-665-2022</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Departments</h3>

							<ul class="import-link">
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Emergency Departments
									</a>
								</li>
								<li>
									<a href="department-orthopedics.html">
										<i class="ri-arrow-right-s-line"></i>
										Orthopedics
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Neurosciences
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Gastroenterology
									</a>
								</li>
								<li>
									<a href="department.html">
										<i class="ri-arrow-right-s-line"></i>
										Bariatric Surgery
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Helpful Links</h3>

							<ul class="import-link">
								<li>
									<a href="find-a-doctor.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Doctor
									</a>
								</li>
								<li>
									<a href="hospital.html">
										<i class="ri-arrow-right-s-line"></i>
										Find a Hospital
									</a>
								</li>
								<li>
									<a href="products.html">
										<i class="ri-arrow-right-s-line"></i>
										Buy Medicine
									</a>
								</li>
								<li>
									<a href="terms-conditions.html">
										<i class="ri-arrow-right-s-line"></i>
										Terms of Use
									</a>
								</li>
								<li>
									<a href="privacy-policy.html">
										<i class="ri-arrow-right-s-line"></i>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Subscribe Our Newsletter</h3>

							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">
		
								<button class="default-btn" type="submit">
									Submit now
								</button>
		
								<div id="validator-newsletter" class="form-result"></div>
							</form>

							<ul class="socila-link">
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/facebook.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/twitter.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/linkedin.svg" alt="Image">
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/" target="_blank">
										<img src="../../../doc123/templates.envytheme.com/bexi/default/assets/images/svg-icon/instagram.svg" alt="Image">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© Bexi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->
    </body>

{% endblock %}